{% include base_path %}

<meta charset="utf-8">

{% include seo.html %}

<link href="{% if site.atom_feed.path %}{{ site.atom_feed.path }}{% else %}{{ base_path }}/feed.xml{% endif %}" type="application/atom+xml" rel="alternate" title="{{ site.title }} Feed">

<!-- http://t.co/dKP3o1e -->
<meta name="HandheldFriendly" content="True">
<meta name="MobileOptimized" content="320">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<script>
  document.documentElement.className = document.documentElement.className.replace(/\bno-js\b/g, '') + ' js ';
</script>

<script>
  function toggleSomeAction(target, id, action_name) {
      if ($('#' + id).css('display') == 'block') {
          $('#' + id).hide('fast');
          $(target).text(action_name);
      } else {
          $('#' + id).show('fast');
          $(target).text(action_name+'▲');
      }
  }

  function toggleBibtex(target, id) {
    toggleSomeAction(target, id, "bibtex");
  }

  function toggleAbstract(target, id) {
    toggleSomeAction(target, id, "abstract");
  }

  function escapeRegExp(string) {
    return string.replace(/[.*+?^${}()|[\]\\]/g, '\\$&');
  }

  function replaceAll(str, find, replace) {
    return str.replace(new RegExp(escapeRegExp(find), 'g'), replace);
  }

  function valueInTag(value, tag) {
    return "<"+tag+">"+value+"</"+tag+">";
  }
</script>

<!-- For all browsers -->
<link rel="stylesheet" href="{{ base_path }}/assets/css/main.css">
<link rel="stylesheet" href="{{ base_path }}/assets/css/cardbox.css">
<script src="{{ base_path }}/assets/js/bibtexParse.js"></script>
<meta http-equiv="cleartype" content="on">