---
layout: default
---

{% include base_path %}

{% if page.header.overlay_color or page.header.overlay_image or page.header.image %}
  {% include page__hero.html %}
{% endif %}

{% if page.url != "/" and site.breadcrumbs %}
  {% unless paginator %}
    {% include breadcrumbs.html %}
  {% endunless %}
{% endif %}

<div id="main" role="main">
  {% include sidebar.html %}

  <article class="archive" itemscope itemtype="http://schema.org/CreativeWork">
    {% if page.title %}<meta itemprop="headline" content="{{ page.title | markdownify | strip_html | strip_newlines | escape_once }}">{% endif %}
    {% if page.excerpt %}<meta itemprop="description" content="{{ page.excerpt | markdownify | strip_html | strip_newlines | escape_once }}">{% endif %}
    {% if page.date %}<meta itemprop="datePublished" content="{{ page.date | date: "%B %d, %Y" }}">{% endif %}
    {% if page.modified %}<meta itemprop="dateModified" content="{{ page.modified | date: "%B %d, %Y" }}">{% endif %}

    <!--<div class="page__inner-wrap">-->
      {% unless page.header.overlay_color or page.header.overlay_image %}
        <header>
          {% if page.title %}<h1 class="page__title" itemprop="headline">{{ page.title | markdownify | remove: "<p>" | remove: "</p>" }}</h1>{% endif %}
        <span id="authorList-{{ page.bibtexid }}">{{ page.author_list }}</span>.<br/>
        {% if page.booktitle %}
          <em>{{ page.booktitle }}</em>{% if page.venue_short %}<em> (<strong>{{ page.venue_short }}</strong>)</em>{% endif %}{% if page.paper_pages %}, pages <span id="pages-{{ page.bibtexid }}">{{ page.paper_pages }}</span>{% endif %}{% if page.date %}, {{ page.date | default: "1900-01-01" | date: "%Y" }}{% endif %}.
        {% elsif page.journal %}
          <em>{{ page.journal }}</em>{% if page.venue_short %}<em> (<strong>{{ page.venue_short }}</strong>)</em>{% endif %}{% if page.paper_pages %}, pages <span id="pages-{{ page.bibtexid }}">{{ page.paper_pages }}</span>{% endif %}{% if page.date %}, {{ page.date | default: "1900-01-01" | date: "%Y" }}{% endif %}.
        {% endif %}
        <br/>
        [<a href="javascript:void(0)" onclick="toggleAbstract(this, 'abstractSection-{{ page.bibtexid }}')">abstract</a>]
        [<a href="javascript:void(0)" onclick="toggleBibtex(this, 'bibtexSection-{{ page.bibtexid }}')">bibtex</a>]
        {% if page.paperdoi %}
            [<a href="{{ page.paperdoi }}">doi</a>]
        {% endif %}
        {% if page.paperurl %}
          [<a href="{{ page.eprint }}">pdf</a>]
          {% if page.extendedversion %}
            [<a href="{{ page.extendedversion }}">extended pdf</a>]
          {% endif %}
        {% endif %}
        {% if page.coderepository %}
          [<a href="{{ page.coderepository }}">code</a>]
        {% endif %}
        <script>
            var authorList = document.getElementById("authorList-{{ page.bibtexid }}");
            var authorName = '{{ site.name | default: site.title }}';
            var authorListString = replaceAll(authorList.innerHTML, " and ", ", ").replace(authorName, "<strong>"+authorName+"</strong>");
            authorList.innerHTML = authorListString;

            var pages = document.getElementById("pages-{{ page.bibtexid }}");
            pages.innerHTML = pages.innerHTML.replace("--", "–");
        </script>
        </header>
      {% endunless %}
      <section class="page__content" itemprop="text">
        <div id="abstractSection-{{ page.bibtexid }}" style="display:none; border-radius: 15px; background: #f2f2f2; padding: 15px; ">
          {{ page.excerpt }}
        </div>
        <div id="bibtexSection-{{ page.bibtexid }}" style="display:none;">
            <pre>
{% if page.booktitle %}@inproceedings{% elsif page.journal %}@article{% endif %}{ {{ page.bibtexid }},
    author      = "{{ page.author_list }}",
    title       = "{{ page.title }}",
    year        = "{{ page.date | default: "1900-01-01" | date: "%Y" }}",
    abstract    = "{{ page.excerpt }}",
    url         = "{{ page.paperurl }}",
    eprint      = "{{ page.eprint }}",
    {% if page.venuelocation %}location    = "{{ page.venuelocation }}",{% endif %}
    {% if page.publisher %}publisher   = "{{ page.publisher }}",{% endif %}
    {% if page.booktitle %}booktitle   = "{{ page.booktitle }}",{% elsif page.journal %}journal     = "{{ page.journal }}",{% endif %}
    {% if page.paper_pages %}pages       = "{{ page.paper_pages }}",{% endif %}
    {% if page.keywords %}keywords    = "{{ page.keywords }}",{% endif %}
    {% if page.paperdoi %}doi         = "{{ page.paperdoi }}"{% endif %}
}
            </pre>
          </div>
          <script>
            var bibTexField = document.getElementById("bibtexSection-{{ page.bibtexid }}");
            var clearedField = bibTexField.innerHTML.split(/\r?\n/).filter(line => line.trim() !== '').join('\n');
            bibTexField.innerHTML = clearedField;
          </script>
          {{ content }}
          {% if page.research_emergence == "True" or page.research_resilience == "True" or page.research_dependability == "True" or page.research_marl == "True" or page.research_planning == "True" %}
          <h2>Relevant Research Areas</h2>
          <div class="flex-container is-flex-wrap">
            <!-- Emergence in Multi-Agent Systems -->
            {% if page.research_emergence == "True" %}
            <div class="flex-child card" style="width:50%; max-width: 50%;">
              <a href="/research/emergence/">
                <p class="box_title">Emergence in Multi-Agent Systems</p>
                <div class="box">
                  <img class="image_display" src="/images/research/emergence_research.png" alt="Emergence in Multi-Agent Systems" />
                </div>
              </a>
            </div>
            {% endif %}
            <!-- Resilience in Autonomous Systems -->
            {% if page.research_resilience == "True" %}
            <div class="flex-child card" style="width:50%; max-width: 50%;">
              <a href="/research/resilience/">
                <p class="box_title">Resilience in Autonomous Systems</p>
                <div class="box">
                  <img class="image_display" src="/images/research/resilience_research.png" alt="Resilience in Autonomous Systems" />
                </div>
              </a>
            </div>
            {% endif %}
            <!-- Dependability in Machine Learning Systems -->
            {% if page.research_dependability == "True" %}
            <div class="flex-child card" style="width:50%; max-width: 50%;">
              <a href="/research/dependability/">
                <p class="box_title">Dependability in Machine Learning Systems</p>
                <div class="box">
                  <img class="image_display" src="/images/research/dependability_research.png" alt="Dependability in Machine Learning Systems" />
                </div>
              </a>
            </div>
            {% endif %}
            <!-- Multi-Agent Reinforcement Learning -->
            {% if page.research_marl == "True" %}
            <div class="flex-child card" style="width:50%; max-width: 50%;">
                <a href="/research/marl/">
                  <p class="box_title">Multi-Agent Reinforcement Learning</p>
                  <div class="box">
                    <img class="image_display" src="/images/research/marl_research.png" alt="Multi-Agent Reinforcement Learning" />
                  </div>
                </a>
              </div>
              {% endif %}
            <!-- Planning under Uncertainty -->
            {% if page.research_planning == "True" %}
            <div class="flex-child card" style="width:50%; max-width: 50%;">
              <a href="/research/planning/">
                <p class="box_title">Planning and Optimization</p>
                <div class="box">
                  <img class="image_display" src="/images/research/planning_value_function.png" alt="Planning under Uncertainty" />
                </div>
              </a>
            </div>
            {% endif %}
        </div>
        {% endif %}
          {% if page.link %}<div><a href="{{ page.link }}" class="btn">{{ site.data.ui-text[site.locale].ext_link_label | default: "Direct Link" }}</a></div>{% endif %}
      </section>
      <footer class="page__meta">
        {% if site.data.ui-text[site.locale].meta_label %}
          <h4 class="page__meta-title">{{ site.data.ui-text[site.locale].meta_label }}</h4>
        {% endif %}
        {% include page__taxonomy.html %}
      </footer>

      {% if page.share %}{% include social-share.html %}{% endif %}

      {% include post_pagination.html %}
    <!--</div>-->

    {% if site.comments.provider and page.comments %}
      {% include comments.html %}
    {% endif %}
  </article>

  {% comment %}<!-- only show related on a post page when not disabled -->{% endcomment %}
  {% if page.id and page.related and site.related_posts.size > 0 %}
    <div class="page__related">
      {% if site.data.ui-text[site.locale].related_label %}
        <h4 class="page__related-title">{{ site.data.ui-text[site.locale].related_label | default: "You May Also Enjoy" }}</h4>
      {% endif %}
      <div class="grid__wrapper">
        {% for post in site.related_posts limit:4 %}
          {% include archive-single.html type="grid" %}
        {% endfor %}
      </div>
    </div>
  {% endif %}
</div>
